<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js'%>
  </head>
  <body>

   <div class="posted-wrapper">
    <section class="posted">
        <%= yield %>
        <%= link_to "Back", "/" %>
    </section>
   </div>

  </body>
</html>